<%-include("../../views/partials/user/header")%>


<div class="container">
  <form class="reset-form" method="post" action="/forgot-password">
      <h2 class="form-title">Forgot Password</h2>
      <p class="form-description">Enter your email address and we'll send you instructions to reset your password.</p>
      
      <% if (message) { %>
        <div class="error-message" id="errorMessage">
          <%= message %>
        </div>
      <% } %>

      <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" required>
      </div>
      
      <button type="submit" class="submit-btn">Send Reset Link</button>
      
      <div class="success-message" id="successMessage">
          Password reset instructions have been sent to your email.
      </div>
      
      <div class="form-footer">
          <p>Remember your password? <a href="/signin">Back to Login</a></p>
      </div>
  </form>
</div>

<%-include("../../views/partials/user/footer")%>